<!DOCTYPE html>
<html lang="en">

<head>

	<title>Login</title>
	<!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Phoenixcoded" />
	<!-- Favicon icon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

	<!-- vendor css -->
	<link rel="stylesheet" href="assets/css/style.css">
	
	


</head>
<body ng-app="loginApp">
<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center text-center">
				<div class="col-md-12">
					<div class="card-body">
						<img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
						<h4 class="mb-3 f-w-400">Admin</h4>
						<form  ng-controller="loginCtrl">	
						<div class="form-group mb-3">
							<label class="floating-label" for="Email">Login</label>
							<input type="text" class="form-control" id="Email" placeholder="" ng-model="admin.login">
						</div>
						<div class="form-group mb-4">
							<label class="floating-label" for="Password">Mot de Passe</label>
							<input type="password" class="form-control" id="Password" placeholder="" ng-model="admin.password">
						</div>
						<div class="custom-control custom-checkbox text-left mb-4 mt-2">
							<input type="checkbox" class="custom-control-input" id="customCheck1">
							<label class="custom-control-label" for="customCheck1">Se souvenir de moi.</label>
						</div>
						<button class="btn btn-block btn-primary mb-4" ng-click="login(admin)">Se connecter</button>
						<p class="mb-2 text-muted">Mot de passe oublié? <a href="auth-reset-password.html" class="f-w-400">Reset</a></p>
					
					</form>
					</div>

					<!-- ALERT -->
					<div ng-show="errorLogin" class="alert alert-success alert-dismissible fade show" role="alert">
						<strong>Holy guacamole!</strong> You should check in on some of those fields below.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div ng-show="errorLogin" class="alert alert-danger alert-dismissible fade show" role="alert">
						<strong>Holy guacamole!</strong> You should check in on some of those fields below.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<!-- ALERT -->

				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ auth-signin ] end -->

<!-- AngularJs -->
<script src="assets/angularJs/angular.js"></script>
<script type="text/javascript" src="loginApp.js"></script>
<!-- controllers -->
<script src="src/controllers/loginController.js"></script>
<!-- Services -->
<script src="src/services/loginService.js"></script>
<script src="src/services/sessionService.js"></script>

<!-- Required Js -->
<script src="assets/js/vendor-all.min.js"></script>
<script src="assets/js/plugins/bootstrap.min.js"></script>
<script src="assets/js/ripple.js"></script>
<script src="assets/js/pcoded.min.js"></script>

</body>

</html>
